## Webscraping Crypto Prices

This project seeked to webscrape the CoinMarketCap website and get the real time price for the top 10 cryptocurrencies

___________________________________________

Importing Libraries

In [334]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

Scraping the website

In [335]:
url = 'https://coinmarketcap.com/'

page = requests.get(url)

soup = BeautifulSoup(page.text, 'html')

Reading the table

In [336]:
table = soup.find('table')

Creating a list with the header

In [337]:
header = table.find_all('th')
header = [title.text for title in header]
print(header)

['', '#', 'Name', 'Price', '1h %', '24h %', '7d %', 'Market Cap', 'Volume(24h)', 'Circulating Supply', 'Last 7 Days']

Creating the DataFrame

In [338]:
crypto_df = pd.DataFrame(columns = header)

Getting data of the top 10 cryptos and storing in the DataFrame

In [339]:
column_data = table.find_all('tr')

for row in column_data[1:11]:
    row_data = row.find_all('td')
    individual_row_data = [data.text for data in row_data]

    length = len(crypto_df)
    crypto_df.loc[length] = individual_row_data

Dropping unwanted columns

In [340]:
crypto_df = crypto_df.drop(['#', 'Last 7 Days', 'Circulating Supply', '1h %', '24h %', '7d %', 'Volume(24h)'], axis=1)
crypto_df.head()

                Name       Price                Market Cap
0         BitcoinBTC  $41,791.15  $817.06B$817,062,113,181
1        EthereumETH   $2,230.07  $268.02B$268,017,533,198
2    Tether USDtUSDT     $0.9999    $89.64B$89,640,573,120
3             BNBBNB     $231.26    $35.08B$35,081,479,048
4             XRPXRP     $0.6211    $33.47B$33,471,164,258

Removing the ticker from the Name column

In [341]:
name_list = []

# Appending the name list with the correct names
for row in column_data[1:11]:
    row_data = row.find_all('td')[2].p.text
    name_list.append(row_data)

# Replacing the wrong names with the correct ones in the DataFrame
for index in range(0, len(crypto_df['Name'])):
    crypto_df.loc[index, 'Name'] = name_list[index]

crypto_df.head(6)

            Name       Price                Market Cap
0        Bitcoin  $41,791.15  $817.06B$817,062,113,181
1       Ethereum   $2,230.07  $268.02B$268,017,533,198
2    Tether USDt     $0.9999    $89.64B$89,640,573,120
3            BNB     $231.26    $35.08B$35,081,479,048
4            XRP     $0.6211    $33.47B$33,471,164,258
5         Solana      $61.64    $26.16B$26,158,314,107

Fixing the Market Cap column to show only the abbreviated market cap

In [342]:
crypto_df[['Market Cap', 'Market Cap Aux']] = crypto_df['Market Cap'].str.rsplit('$', expand=True, n=1)
crypto_df.drop('Market Cap Aux', axis=1, inplace=True)

Making the index go from 1 to 10

In [343]:
crypto_df.index = crypto_df.index + 1

Final table with the price and market cap for the top 10 cryptocurrencies

In [344]:
crypto_df

             Name       Price Market Cap
1         Bitcoin  $41,791.15   $817.06B
2        Ethereum   $2,230.07   $268.02B
3     Tether USDt     $0.9999    $89.64B
4             BNB     $231.26    $35.08B
5             XRP     $0.6211    $33.47B
6          Solana      $61.64    $26.16B
7            USDC     $0.9999    $24.35B
8         Cardano     $0.4008    $14.15B
9        Dogecoin    $0.08929    $12.69B
10           TRON     $0.1032     $9.13B